.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.hiddenright {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(1000px);
    transition: all 1s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
    .hiddenright {
        transition: none;
    }
}