@media only screen and (min-width: 800px) {
    .product_screenshot {
        visibility: visible;
        cursor: zoom-in;
        transition-duration: 0.5s;
        transition-timing-function: linear;
        transition-delay: 0.1s;
    }
    .product_screenshot:hover {
        position: sticky;
        max-width: 160%;
        width: 160%;
        left: -50%;
        top: -50%;
    }
}

@media only screen and (max-width: 800px) {
    .product_screenshot {
        visibility: visible;
        width: 100%;
    }
}

.product_screenshot_title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: small;
    font-weight: bold;
    font-style: italic;
}

.bold_statement {
    display: block;
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    font-size: 150%;
    font-weight: bold;
    font-style: italic;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}