/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  font-weight: 600;
  color: #fff;
  background-color: #7952b3;
  border-color: #7952b3;
}

.headBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
  background: linear-gradient(165deg, #99c5f1 50%, #fff 50%);
}

.title {
  font-size: 2.6rem;
  font-weight: 500;
}

.tagline {
  font-size: 1.5rem;
  font-weight: 400;
}

.sectionskip {
  padding: 5rem 0;
}

.sectionBanner {
  font-size: 3rem;
  padding: 1rem 3rem;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.section {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #99c5f1;
}

.datablock {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.padded {
  padding: 1rem 1rem;
}

.logo {
  box-sizing: border-box;
}