.formheader {
    background-color: rgb(210, 210, 230);
}

@media only screen and (min-width: 800px) {
    .formheadertext {
        color: rgb(80, 40, 40);
        padding: 80px 300px 180px 300px;
    }

    .formpage {
        border-top: 4px solid orange;
        box-shadow: rgb(0 32 37 / 32%) 0px 16px 48px -16px;
        position: relative;
        background-color: rgb(255, 255, 255);
        padding: 64px;
        margin: 80px;
        top: -180px;
    }
}