
.herotwo {
  position: relative;
  padding-bottom: 180px;
  background-color: var(--aigence-black7, #020B28);
}
.herodiv {
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 30px;
}
.featureSvg {
  height: 200px;
  width: 200px;
}
.herotwo__title {
  margin: 0px;
  font-size: 80px;
  color: var(--aigence-white, #FFFFFF);
  font-weight: 800;
  line-height: 1.25;
  letter-spacing: -2.4px;
}
.herotwo__subtitle {
  margin: 0px;
  font-size: 40px;
  color: var(--aigence-white, #FFFFFF);
  font-weight: 200;
  line-height: 1.25;
  letter-spacing: -2.4px;
}

@media (max-width: 1199px) {
  .herotwo {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .herotwo__title {
    font-size: 60px;
    letter-spacing: -1px;
  }
  .herotwo__subtitle {
    font-size: 35px;
    letter-spacing: -1px;
  }
}
@media (max-width: 991px) {
  .herotwo {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .herotwo__title {
    font-size: 50px;
  }
  .herotwo__subtitle {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .herotwo__title {
    font-size: 45px;
  }
  .herotwo__subtitle {
    font-size: 25px;
  }
}
@media (max-width: 575px) {
  .herotwo {
    padding-bottom: 20px;
  }
  .herotwo__title {
    font-size: 40px;
  }
  .herotwo__subtitle {
    font-size: 24px;
  }
}
@media (max-width: 405px) {
  .herotwo {
    padding-left: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .herotwo__title {
    font-size: 35px;
  }
  .herotwo__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .herotwo {
    padding-left: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .herotwo__title {
    font-size: 34px;
  }
  .herotwo__subtitle {
    font-size: 18px;
  }
}

.herotwo__bg {
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: inherit;
}
.herotwo__bg__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: inherit;
  animation: zoomIn 8s linear 0s infinite;
  background-image: url(/img/home/hero-bg.png);
}
.herotwo .container {
  position: relative;
  z-index: 2;
  margin-right: auto;
  margin-left: auto;
}
.herotwo__content {
  text-align: center;
}
