.header {
    background-image: url(/img/page-background.jpg);
    background-size: contain;
}
.textheader {
    background: black;
    padding-left: 30px;
    padding-bottom: 10px;
}
.titleline {
    color: white;
    font-size: 250%;
    font-weight: bolder;
}
.tagline {
    color: white;
    font-size: 100%;
    font-weight: bolder;
}
.bluetitle {
    color: #1d9bd7;
}
.sectionskip {
  padding: 3rem 0;
}
.sectionskip2 {
  padding: 1rem 0;
}
@media only screen and (max-width: 800px) {
    .textheader {
        background: black;
        padding-left: 5px;
        padding-bottom: 10px;
    }
}
thead {
    background: #99c5f1;
    border-color: #99c5f1;
    border-width: 2px
}

tbody {
    border-color: #99c5f1;
    border-width: 2px
}

table th {
    border-color: #99c5f1;
}

table td {
    border-color: #ccf8f1;
}

.blue {
    color: #046fb7;
    font-weight: bold;
}

.price {
    color: #046fb7;
    font-weight: bold;
    text-align: center;
}

table tr:nth-child(even) {background-color: white;}

.thincell {
    padding: 1px 16px 1px 16px;
    font-family: 'Courier New', monospace;
    font-size: 80%;
}
.thincell_c {
    padding: 1px 16px 1px 16px;
    font-family: 'Courier New', monospace;
    font-size: 80%;
    text-align: center;
}

.section_header {
    text-align: center;
}

thead.BASIC {
    background: #046fb7;
    border-color: #046fb7;
    border-width: 2px;
    text-align: center;
    font-weight: bolder;
    font-size: 150%;
    color: white;
}
table th.BASIC {
    border-color: #046fb7;
}
tbody.BASIC {
    border-color: #046fb7;
    border-width: 2px
}

thead.BRONZE {
    background: #896614;
    border-color: #896614;
    border-width: 2px;
    text-align: center;
    font-weight: bolder;
    font-size: 150%;
    color: white;
}
table th.BRONZE {
    border-color: #896614;
}
tbody.BRONZE {
    border-color: #896614;
    border-width: 2px
}

thead.SILVER {
    background: #99aab1;
    border-color: #99aab1;
    border-width: 2px;
    text-align: center;
    font-weight: bolder;
    font-size: 150%;
    color: white;
}
table th.SILVER {
    border-color: #99aab1;
}
tbody.SILVER {
    border-color: #99aab1;
    border-width: 2px
}

thead.GOLD {
    background: #dedd23;
    border-color: #dedd23;
    border-width: 2px;
    text-align: center;
    font-weight: bolder;
    font-size: 150%;
    color: white;
}
table th.GOLD {
    border-color: #dedd23;
}
tbody.GOLD {
    border-color: #dedd23;
    border-width: 2px
}

.signupbutton {
    font-weight: 600;
    color: #fff;
    background-color: #7952b3;
    border-color: #7952b3;
    padding-top: 1px;
    height: 30px;
    width: 120px;
}
.signupbutton:hover {
    color: black;
    background-color: white;
    border-color: #7952b3;
}
