.section {
  padding: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background: #dadaff;
}
.sectionskip {
  padding: 3rem 0;
}
.question {
  padding: 1rem;
  text-align: left;
  position: relative;
  overflow: hidden;
}
.invalid {
    color: #dc3545;
}
.valid {
    color: #000000;
}