.datablock {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}

.card {
    width: 18rem;
    border-color: orange;
}

.header {
    text-align: center;
    font-weight: bold;
    background-color: orange;
}
.body {
    text-align: left;
    font-size: 14px;
}

span.name {
    font-size: 30px;
}
span.info {
    font-size: 14px;
}
span.bold {
    font-weight: bold;
}
.gbp {
    vertical-align: super;
    font-family: Arial, Helvetica, sans-serif;
}
.price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
